header{
    text-align: center;
    font-size: 1.5rem;
    width:1200px;
    margin: 0 auto;
    padding-top: 1px;
}

body
{
    cursor: url(images/reticle.png) 16 16,crosshair;
    background-color:lightgray;
    width: 80%;
    margin: 0 auto;
    font-family: verdana;
}

#gameScreen{
       text-align: center;
}